<!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Estações</title>
</head>
<body>
    <main> 
    <header>
        <%- include ('navbar') %>
    </header>
     <h2>Registro de Estações</h2>
     <form action="/result" method="get">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>

        <label for="LinhaPertence">Linha que Pertence:</label>
        <select name="LinhaPertence" id="LinhaPertence">
            <option value=""></option>

        </select>
        
        <label for="km">Kilometragem (KM):</label>
        <input type="number" id="km" name="km" min="0" required>

        <input type="submit" value="Enviar">
     </form>
     <footer>
        <%- include ('footer') %>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
     </main>
</body>
</html> -->