<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <title>Registro de Ocorrência</title>
</head>

<header>
    <%- include ('navbar') %>
</header>

<body>
    <main>
    <img src="static/imagens/metro.png" alt="metro">
    <h1>Ocorrências:</h1><br><br>
    <label for="tipo">Tipo de ocorrências:</label><br>
    <select id="tipo" name="tipo" onchange="redirectToLink(this)">
        <option value="vazio">Selecione</option>
        <option value="trem">Trem</option>
        <option value="linha">Linha</option>
        <option value="estacao">Estação</option>
    </select>

    <script>
        function redirectToLink(selectElement) {
            var selectedValue = selectElement.value;
            
            if (selectedValue === "trem") {
                window.location.href = "registro-trem.html";
            } else if (selectedValue === "linha") {
                window.location.href = "registro-linha.html";
            } else if (selectedValue === "estacao") {
                window.location.href = "registro-estacao.html";
            }
        }
    </script>
    </main>
    <footer>
        <%- include ('footer') %>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>
