<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm p-3 mb-5 bg-body-tertiary rounded fw-bold">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="Logo" width="128" height="64">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/historico">Histórico</a>
            </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cadastros<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/trens">Cadastro de Trens</a></li>
                <li><a class="dropdown-item" href="/linhas">Cadastro de Linhas</a></li>
                <li><a class="dropdown-item" href="/estacoes">Cadastro de Estações</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Registro de Ocorrências<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/ocoTrens">Ocorrências de Trens</a></li>
                <li><a class="dropdown-item" href="/ocoLinhas">Ocorrências de Linhas</a></li>
                <li><a class="dropdown-item" href="/ocoEstacoes">Ocorrências de Estações</a></li>
            </ul>
        </li>
        </ul>
      <ul class="navbar-nav">
        <!-- Botão Sign Up -->
        <li class="nav-item">
            <a class="nav-link btn btn-custom" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</a>
        </li>
        <!-- Botão Login -->
        <li class="nav-item">
            <a class="nav-link btn btn-custom" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
        </li>
    </ul>
    </div>
</nav>
<!-- Modal Sign Up -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/signup" method="post">
                    <!-- Campos do formulário de cadastro -->
                    <div class="mb-3">
                        <label for="signupEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" name="signupEmail" id="signupEmail" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="signupPassword" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="signupPassword" id="signupPassword">
                    </div>
                    <button type="submit" class="btn btn-primary btn-red">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Login -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <!-- Campos do formulário de login -->
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" name="loginEmail">
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="loginPassword" name="loginPassword">
                    </div>
                    <button type="submit" class="btn btn-primary btn-red">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<style> 

.btn-custom:hover {
    background-color: #F20505;
    border-color: #F20505;
    color: white; 
}

.btn-red {
    background-color: #F20505;
    border-color: #F20505;
    font-family: 'Roboto', sans-serif; 
    color: white;
    padding: 7px 17px;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
  }
  .btn-red:hover {
    background-color: #d10404;
    border-color: white;
  }

</style>