<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <title>Registro de Ocorrência de Trem</title>
</head>

<style>

    .custom-title {
      color: #F20505; 
      text-align: center;
    }
  
    .btn-red {
            background-color: #ff0000; /* Vermelho padrão */
            border-color: #ff0000; /* Bordas no mesmo tom do fundo */
}

    .btn-red:hover {
        background-color: #f97e7e; /* Vermelho mais claro no hover */
        border-color: #f97e7e; /* Bordas no mesmo tom do hover */
}

</style> 


<body>
    <header>
         <%- include ('navbar') %> 
    </header>
    <main class="container">
        <br><br><h1 class="display-2 custom-title">Ocorrência de trem</h1>
        <form action="/ocoTrens" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label for="data" class="form-label">Data:</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>

                <div class="col-md-6">
                    <label for="horario" class="form-label">Horário:</label>
                    <input type="time" class="form-control" id="horario" name="horario"> 
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="codigo" class="form-label">Código do trem:</label>
                    <input type="text" class="form-control" id="codigo_trem" name="codigo_trem">
                </div>

                <div class="col-md-6">
                    <label for="linha" class="form-label">Linha:</label>
                    <select name="linha" id="linha" class="form-select">
                        <option value=""></option>
                        <option value="linha-7">Linha-7</option>
                        <option value="linha-10">Linha-10</option>
                        <option value="linha-11">Linha-11</option>
                        <option value="linha-12">Linha-12</option>
                        <option value="linha-13">Linha-13</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="bloco" class="form-label">Bloco:</label>
                    <input type="text" class="form-control" id="bloco" name="blobo">
                </div>
            </div>
 
            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-check-label">Inviabilizou o bloco:</label>
                    <input type="radio" class="form-check-input" id="Inviabilizou_o_bloco" name="Inviabilizou_o_bloco" value="Inviabilizou_o_bloco">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <label class="form-check-label">Impacto na velocidade:</label>
                    <input type="radio" class="form-check-input" id="Impacto_na_velocidade" name="Impacto_na_velocidade" value="Impacto_na_velocidade">
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="Categoria" class="form-label">Categoria:</label>
                    <select name="Categoria" id="Categoria" class="form-select">
                        <option value=""></option>
                        <option value="Lotação excessiva">Lotação excessiva</option>
                        <option value="Falha na sinalização">Falha na sinalização</option>
                        <option value="Queda de energia">Queda de energia</option>
                        <option value="Emergencia">Emergência</option>
                        <option value="Quebra">Quebra</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>
            </div>
            
            <div class="row mt-3">
                <div class="col-md-6">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <textarea id="descricao" class="form-control" name="descricao" rows="4"></textarea>
                </div>
            </div><br><br>
            <div class="text-center">
                <button type="submit" class="btn btn-secondary me-2 btn-red">Enviar</button>
            </div><br>
        </form>
    </main>
    <footer>
        <%- include ('footer') %> 
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
