<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonte.css">

    <title> Registro Linha </title>
</head>

<style>
    .custom-title {
      color: #F20505; 
    }
  
    .btn-red {
      background-color: #F20505;
      border-color: #F20505;
    }
  
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  
  </style>



<body>
    <main>

    <header>
        <%- include ('navbar') %>
    </header>

    <a href="/index" > Voltar </a>

    <main class="container mt-5">
        <div class="text-center">
            <h1 class="display-2 custom-title">Histórico de Ocorrências</h1>
        </div>
        
    <form action="/registroLinha", method="POST">
        <label for="NomeLinha"> Nome da Linha: </label>
        <input type="text" id="NomeLinha" name="NomeLinha">
        <label for="Estacoes"> Numero de Estaões </label>
        <input type="number" id="Estacoes" name="Estacoes">
        <label for="Extensao"> Extrensão da Linha </label>
        <input typr="number" id="Extensao" name="Extensao">

    <h2 class="display-2 custom-title">Histórico de Ocorrências</h2></div>        
    <label for="Velocidade"> Velocidade </label>
        <select id="Velocidade" name="Velocidade">
            <option value=""> Nivel 1 </option>
            <option value=""> Nivel 2 </option>
            <option value=""> Nivel 3 </option>
            <option value=""> Nivel 4 </option>
        </select>
        
        <label for="Carga"> Tem Carga em Circulação</label>
        <select id="Carga" name="Carga" >
            <option value=""> Sim </option>
            <option value=""> Nao </option>
        </select>
        
        <label for="HW"> Hw </label>
        <input type="number" id="HW" name="HW">
        <label for="Viagens"> Numero de Viagens </label>
        <input type="number" id="Viagens" name="Viagens">
        <label for="MediaPassageiros"> Media de Passageiros </label>
        <input type="number" id="MediaPassageiros" name="MediaPassageiros">
        <label for="ConsumoEnergia"> Consumo de Energia </label>
        <input type="number" id="ConsumoEnergia" name="ConsumoEnergia">
    
    </form>
    </main>

    <footer>
        <%- include ('footer') %>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
    
</body>
</html>